.bg-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 80px;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-con {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.head {
  text-align: center;
  color: #ea580c;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}
.label {
  font-size: 11px;
  font-weight: 700;
  color: #475569;
  margin-bottom: 5px;
  margin-top: 20px;
}
.input {
  padding: 8px;
  border: 1px solid #cbd2d9;
  color: #9aa5b1;
  border-radius: 4px;

  outline: none;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  min-width: 70px;
  padding: 7px;
  background-color: #ea580c;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
  font-size: 12px;
  color: #ffffff;
  margin-top: 20px;
}

.error-input {
  border-color: #ff0b37;
  background-color: #fef2f4;
}

.error {
  font-size: 12px;
  font-weight: 600;
  color: #ff0b37;
  padding: 0px;
  margin: 0px;
}

.img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  align-self: center;
}
.msg {
  font-size: 13px;
  font-weight: 600;
  align-self: center;
  margin: 0px;
  padding: 0px;
}
